.create__form{
    display: flex;
    flex-direction: column;
}
.create__content{
    max-width: 640px;
    margin: 0 auto;
    margin-top: 30px;

}
.create__input{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.input__label{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #070C11;
    margin-bottom: 10px;
}
.create__input .input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid #4878A6;
    outline:none;
}
.create__input .input.file{
    cursor: pointer;
}
.create__input .input.textaarea{
    height: 150px;
    resize: none;
}
.create__input.file{
    max-width: 200px;
}
.create__input.file input{
    display: none;
}
.create__btn{
    max-width: 150px;
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 40px;
}