.catalog__top {
  margin-top: 90px;
}
.catalog__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #070c11;
  margin-bottom: 60px;
}
.catalog__filter {
  display: none;
}
.catalog__filter-button {
  display: inline-block;
  padding: 12px 32px;
  background: #4878a6;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  cursor: pointer;
}
.catalog__filter-button div {
  display: flex;
  align-items: center;
}
.catalog__filter-button-img {
  margin-right: 10px;
}
.catalog__filter-btn {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .catalog__filter {
    display: none;
  }
}

.sort-bar {
  width: 310px;
}

.sort-bar__item {
  margin-bottom: 20px;
}
.sort-bar__item:last-child {
  margin: 0;
}

.sort-bar__type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 20px;
  width: 100%;
  background: #edf2f6;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
}
.sort-bar__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #070c11;
}
.sort-bar__image {
  width: 14px;
  height: 12px;
  transform: rotate(90deg);
}
.sort-bar__image-active {
  transform: rotate(-90deg);
}

.sort-bar-input {
  display: none;
}
.srt-bar-input-dis-active {
  display: block;
}

.checkbox__sort-bar {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #838688;
  margin-left: 5px;
}
.sort-bar-checkbox {
  margin-bottom: 10px;
}
.sort-bar-checkbox:last-child {
  margin: 0;
}
