.recipient {
    border: 1px solid #c8cacb;
    border-radius: 8px;
    padding: 30px;
    margin: 20px 0;
}
.full-name-content {
    display: flex;
}
.full-name {
    flex-direction: column;
    width: 100%;
    display: flex;
    margin: 0 5px 0 5px;
}
.full-name-input {
    outline: none;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #eaeaf0;
    height: 48px;
}
.gmail {
    display: flex;
    margin-top: 20px;
}
.gmail-content {
    flex-direction: column;
    width: 100%;
    display: flex;
    margin: 0 5px 0 5px;
}
.recipient-checkbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.recipient-input {
    width: 17px;
    margin: 0 5px;
    height: 17px;
}
