.profileList__items{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #070C11;
    list-style-type:none;
    border: 1px solid #EAEAF0;
    width: 305px;
    border-radius: 10px;
    overflow: hidden;
}

.profileList__items li{
    cursor: pointer;
    padding: 17px 0 17px 20px;
}

.profileList__items li:hover{
    background-color: #EDF2F6;
    height: 100%;
}
.profileList__items li:last-child{
    border-top: 1px solid #EAEAF0;
    color: #F15152;
}

.profileList__items ul{
    border: 1px solid #EAEAF0;
}

.profileList{
    padding: 0 0 110px 0;
}

