.personal-account {
    display: flex;
}

.account-sidebar {
    width: 305px;
    height: 313px;
    border: 1px solid #eaeaf0;
    border-radius: 5px;
}
.account-list ul {
    padding: 17px 20px;
    list-style: none;
    cursor: pointer;
}
.account-list:hover {
    background-color: #edf2f6;
}
.leave {
    border-top: 1px solid #eaeaf0;
    padding: 10px 20px;
    cursor: pointer;
}
.leave:hover {
    background-color: #edf2f6;
}
.leave-bnt {
    border: none;
    background: none;
}
.leave-bnt span {
    color: #f15152;
}
